{
  "presets": [
    ["env", {
      "targets": { "node": 7 },
      "useBuiltIns": true,
    }]
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["minify"],
      "plugins": ["babel-plugin-dev-expression"]
    }
  }
}
